html {
    background-color: rgb(33, 31, 31);
    color: white;
}

div {
    text-align: center;
}

button {
    height: 40px;
    width: 80px;
    color: white;
    background-color: #82473E;
    border-radius: 7px;
}

.default-time-btn {
    width: auto;
    border-radius: 7px;
}

.clock-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    
}

.clock-section-number {
    font-size: 2rem;
    background-color: black;
    border: solid #ffffff 1px;
    margin: auto auto ;
}

.clock-number-btn {
    height: 20px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
}

.day-log-icon {
    width: 1%;
}



#add-btn {
    background-color: Green;
}

#delete-btn {
    background-color: red;
}

#clock-container {
    background-color: #3e7982;
    width: 75%;
    margin: 1.3rem auto auto auto;
    border: solid #dad6d6 1px;
    border-radius: 25px;
}

#clock-body {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1.3rem auto auto auto;
    
}

#log-section {
    text-align: center;
}

#disclaimer {
    background: red;
    color: #ffffff;
    
    bottom: 0px;
    width: 100%;
}

